* {
    font-family: sans-serif;
    transition-duration: 0.4s;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style-type: none;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 2px;
}

body {
    background-color: #176B87;
}

#top {
    height: 80px;
    color: #EEEEEE;
    margin: 1%;
    border-radius: 15px;
    background-color: #053B50;
}

#name {
    padding-left: 35px;
    padding-top: 28px;
    float: left;
    font-size: 24px;
}

#inputB {
    float: right;
    margin-right: 35px;
    margin-top: 7px;
}

#nickname {
    font-size: 18px;
    background-color: #053B50;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    height: 25px;
}

#submitBt {
    padding-top: 1px;
    background-color: white;
    height: 31px;
    border: none;
    border-radius: 5px;
    width: 50px;
}

#main {
    color: #EEEEEE;
    margin: 1%;
    border-radius: 15px;
    background-color: #053B50;
}

#item {
    margin-left: 35px;
    margin-right: 35px;
}

#item li {
    border-bottom: 1px solid #ccc;
}

.listItem {
    height: 80px
}

.AName {
    padding-top: 25px;
    font-size: 25px;
    float: left;
    text-decoration: underline;
    color: white;

}

.ADate {
    padding-top: 27px;
    font-size: 22px;
    float: right;
}